@import url(http://weloveiconfonts.com/api/?family=brandico|fontawesome|iconicfill);

/* brandico */

[class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;
}


/* fontawesome */

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}


/* iconicfill */

[class*="iconicfill-"]:before {
    font-family: 'IconicFill', sans-serif;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none !important;
}

.row {
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 1rem 0 0 0;
    padding: 0;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
    height: 100% !important;
}

#bg {
    background: url("http://masatoshiyamashiro.com/img/portfolio1/48.jpg") no-repeat center center;
    background-position: -220px 0;
    background-size: 200%;
    height: 50vw;
    margin: 0 auto;
    padding: 0;
}

.demo-gallery {
    margin: 2rem auto;
}

@media (max-width: 900px) {
    #bg {
        background-position: -230px -20px;
        background-size: 340%;
        height: 100vw;
    }
}

.navbar {
    background-color: #fff;
    border: none;
    width: 100%;
    height: 5em;
    /* padding-left: 20px; */
    /* padding-top: 1rem; */
    position: fixed;
    z-index: 1000;
    border-radius: none !important;
}

@media (min-width: 768px) {
    .navbar {
        /* border-radius: 4px; */
    }
}

.navbar-brand {
    font-family: 'Righteous', sans-serif;
    font-weight: 200;
    font-size: 1.75em !important;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

@media (max-width: 772px) {
    .navbar-brand {
        max-width: 30%;
        font-size: 1.5em;
        position: fixed;
        top: 10px;
    }
}

.navfont {
    font-family: 'Righteous', sans-serif;
    font-weight: 500;
    font-size: 1.10em;
    color: #a5a5a5 !important;
}

ul.nav.navbar-nav.navfont {}

ul.nav.navbar-nav.navfont {}

.navfont:hover {
    color: #3F7FBF !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent !important;
    background-color: #fff !important;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 35px !important;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px !important;
}

.dropdown-menu {
    background-color: rgba(224, 224, 224, 0.5);
    border: none;
}

#about {
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    /* display: inline-block; */
}

@media (max-width: 992px) {
    #work {
        padding-bottom: 70px;
        height: auto;
    }
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #d5d5d5;
    vertical-align: middle;
    margin: 80px 0px 0px 62%;
}

@media (max-width: 992px) {
    .logo {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #292929;
        vertical-align: middle;
        margin: 80px auto;
    }
}

.logowrap {
    height: 100%;
}

.mt {
    font-family: 'Righteous', sans-serif;
    font-weight: 300;
    vertical-align: middle;
    text-align: center;
    color: #454545;
    padding-top: 47px;
    padding-right: 14px;
    font-size: 4em;
    font-style: italic;
}

select {
    background-color: #fff;
    color: #a5a5a5;
    font: inherit;
    padding: 7px;
    width: 175px;
    height: 40px;
    border: 1px solid #a5a5a5;
}

.language-picker {
    float: right;
    padding: .5em 3em 0 0;
}

.copy {
    text-align: right;
    padding-top: 80px;
    padding-bottom: 30px;
}

@media (max-width: 770px) {
    .copy {
        text-align: center;
        padding-top: 80px;
        padding-bottom: 10px;
    }
}

.credit {
    text-align: left;
    padding-top: 80px;
    padding-bottom: 30px;
}

@media (max-width: 770px) {
    .credit {
        text-align: center;
        padding-top: 80px;
        padding-bottom: 30px;
    }
}

.copycredit {
    font-family: 'Roboto', sans-serif;
    font-size: .75em;
    letter-spacing: .25em;
    color: #242424;
    margin-top: 0px;
    height: 100px;
    /* position: relative; */
    bottom: 0px;
    display: block;
}

h1.hello {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: 900;
    font-size: 5em;
    text-align: left;
    margin: 20% auto 5% .5em;
    color: #3F7FBF;
}

h3.workcopy {
    width: 81%;
    margin: 1em 1em 1em auto;
    font-family: 'Roboto', sans-serif;
    line-height: 2em;
    font-size: 1.5em;
}

.abouttext {
    font-size: 1em;
    line-height: 2.3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.abouttextwrap {
    background-color: #fff;
    color: #C1C1C1;
    margin-top: -50%;
    padding: 35px 35px 35px 45px;
    position: absolute;
    z-index: 2;
    box-shadow: 5px 5px 0px #c6c6c6;
}

@media (max-width: 992px) {
    .abouttextwrap {
        position: static;
        margin-top: 50px;
        box-shadow: none;
        padding: 35px;
    }
}

.title {
    font-size: .2em;
    text-align: center;
    font-style: italic;
    background-color: #fff;
    color: #c6c6c6;
    padding: 35px;
}

.bio {
    margin: 40px 0;
    padding: 0 4%;
    width: 100%;
    /* float: right; */
}

@media (max-width: 772px) {
    .bio {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }
}

.biotext {
    color: #D7D7D7;
    padding: 10px 60px;
    line-height: 2.5em;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.38);
    margin-bottom: 0px;
}

.biotext h2 {
    margin-top: .25em;
    margin-bottom: 2em;
}

@media (max-width: 770px) {
    .biotext {
        font-size: 1.5em;
        line-height: 2em;
        width: 100%;
        padding: 1em;
        margin: 0;
    }
}

.portrait {
    padding: 14px;
    width: 200px;
    vertical-align: middle;
    margin: 0 auto;
}

#masaspic {
    background: url(http://www.joelps.com/brentforrest/assets/img/765-default-avatar.png) no-repeat center top;
    vertical-align: middle;
    /* margin-top: 110px; */
    /* margin-bottom: 30px; */
    /* margin-right: auto; */
    /* margin-left: 100px; */
    margin: 40% 25% 20% 25%;
    padding-top: 0;
    height: 250px;
    width: 250px;
    border: none;
    border-radius: 200px;
    background-size: cover;
    background-position: 0px 4px;
    background-color: #fff;
}

@media (max-width:992px) {
    #masaspic {
        margin: 80px auto;
    }
}

.avatar {
    height: 100%;
    width: 40%;
    clear: both;
    display: inline-block;
}

.rule {
    width: 50%;
}

.serviceswrapper {
    height: 130vw;
    margin-bottom: 100px;
}

.services {
    height: 400px;
    background-color: #fff;
    /* border: 2px solid; */
    padding-top: 100px;
}

@media (max-width: 900px) {
    .services {
        height: 400px;
    }
}

.servicebutton {
    vertical-align: middle;
    width: 100%;
}

.servicelink {
    transition: all 0.25s ease-out;
}

@media (max-width: 992px) {
    .servicelink {
        min-width: 28%;
        height: auto;
    }
}

.servicebutton img:hover {
    transform: scale(1.2);
    /*transform: rotate(360deg);*/
}

.services h1 {
    color: #c6c6c6;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 1em;
    font-family: 'Josefin Sans', sans-serif;
}

@media (max-width: 770px) {
    .services h1 {
        font-size: 2em;
    }
    .services h1:hover {
        color: #ffffff;
        font-weight: 600;
        background-color: #c6c6c6;
        font-size: 2em;
    }
}

.footer {
    background-color: #454545;
    height: 20%;
    border-top: 0px solid #9e9e9e;
    padding-bottom: 0;
    /*box-shadow: 0px 62px 40px -50px #303030 inset;*/
}

.footer-top {
    height: 100%;
}

@media (max-width: 992px) {
    .footer-top {
        padding-left: 0px;
    }
}

.spaced {
    padding-bottom: 0px;
}

.spaced h1 {
    font-size: 2em;
    letter-spacing: 2em;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    padding-top: 30px;
    color: #F9F9F9;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 10%, #d3d3d3 51%, #ffffff 90%, #ffffff 90%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 10%, #d3d3d3 51%, #ffffff 90%, #ffffff 90%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 10%, #d3d3d3 51%, #ffffff 90%, #ffffff 90%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
    /* IE6-9 */
    text-shadow: 2px 2px #dadada;
}

.spaced h2 {
    font-size: 2em;
    position: absolute;
    z-index: 1;
    color: #fff;
    letter-spacing: 1em;
    z-index: 20;
    text-align: center;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.36);
    padding-top: 5px;
}

@media (max-width:992px) {
    .spaced h1 {
        font-size: 2em;
        letter-spacing: 1em;
        width: 100%;
        text-alignment: center;
        padding-top: 30px;
    }
    .spaced h2 {
        font-size: 3em;
        letter-spacing: .2em;
        width: 100%;
        text-alignment: center;
        position: absolute;
        z-index: 20;
    }
}

.backgroundiosfallback {
    background-color: #F9F9FA;
    box-shadow: 5px 5px 5px rgba(114, 114, 114, 0.38);
}


/* CAROUSEL 2 */


/* CSS used here will be applied after bootstrap.css */

.carousel {
    margin-top: 0;
}

.item {
    height: 450px;
}

.item .thumb {
    width: 25%;
    cursor: pointer;
    float: left;
    max-height: 150px;
}

.item .thumb img {
    width: 100%;
    margin: 2px;
}

.item img {
    width: 100%;
    height: auto;
}

.active {
    max-height: 200px;
}

.big {
    height: 580px;
}

.small {
    max-height: 160px;
}

@media (max-width: 900px) {
    .small {
        max-height: 94px;
    }
}

.carousel-control.left.short {
    height: 35%;
}

.carousel-control.right.short {
    height: 35%;
}

.thumbnail {
    display: block !important;
    padding: 0px;
    margin-bottom: 20px !important;
    line-height: 1.42857143 !important;
    /* background-color: #fff; */
    /* border: 1px solid #ddd; */
    /* border-radius: 4px; */
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

#portrait {
    height: 100%;
    display: inline-block;
}

@media screen and (max-width: 772px) {
    #portrait {
        margin-top: 10%;
    }
}

#footer {
    width: 100%;
}


/*========================VIDEO========================*/

.banana {
    overflow: hidden;
    height: 57vw;
    margin-top: -60px;
    position: relative;
    z-index: 0;
}


/*@media (max-width: 900px) {
    .banana {
        height: 80vw;
        margin-top: -150px;
    }
}

@media (max-width: 795px) {
    .banana {
        height: 100vw;
        margin-top: -215px;
    }
}

@media (max-width: 500px) {
    .banana {
        height: 139vh;
        margin-top: -286px;
    }
}
*/

.flex-video-wrapper {
    /* overflow: hidden; */
    height: 115%;
    margin-top: 0px;
}

.flex-video {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 190vh;
    margin-bottom: 16px;
    overflow: hidden;
}

.flex-video.widescreen {
    padding-bottom: 0%;
}

.flex-video.vimeo {
    padding-top: 0;
}

.flex-video iframe,
.flex-video object,
.flex-video embed {
    position: absolute;
    top: 12rem;
    left: 0;
    width: 100%;
    height: 100vh;
}

@media only screen and (max-device-width: 800px),
only screen and (device-width: 1024px) and (device-height: 600px),
only screen and (width: 1280px) and (orientation: landscape),
only screen and (device-width: 800px),
only screen and (max-width: 767px) {
    .flex-video {
        padding-top: 0;
    }
    .flex-video iframe,
    .flex-video object,
    .flex-video embed {
        position: absolute !important;
        /* top: 37rem !important; */
        left: 0rem !important;
        width: 100% !important;
        height: 40% !important;
    }
}

#dot-matrix {
    background: url(http://s14.directupload.net/images/111129/44ga9qid.png);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.address {
    padding: 50px 0 0 0;
    font-size: 1.2em;
    letter-spacing: .1em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #d5d5d5;
    line-height: 2em;
}

@media (max-width: 765px) {
    .address {
        text-align: center;
        padding: 0;
    }
}


/*===========================SOCIAL NAV===========================*/

div.social {
    margin: 50px auto 50px auto;
    width: 100%;
}

div.social ul {
    height: 50px;
    margin: 0px 50px 0px -20px;
    padding: 0px;
    text-align: left;
}

@media (max-width: 765px) {
    div.social ul {
        text-align: center;
        margin: 0 auto;
    }
}

div.social li {
    display: inline-block;
    margin: 0px 10px;
    height: 50px;
    width: 50px;
    padding-top: 12px;
    font-size: 20px;
    /* color: rgba(255,255,255,0.7); */
    color: #d5d5d5;
    border-radius: 40px;
    text-align: center;
}

div.social li:hover {
    color: rgba(255, 255, 255, 1);
    transition: 0.7s;
}

li.mail:hover {
    background-color: #e35a5a;
}

li.fb:hover {
    background-color: #3A539B;
}

li.twt:hover {
    background-color: rgba(52, 152, 219, 1.0);
}

li.gh:hover {
    background-color: #674172
}

li.insta:hover {
    background-color: #996633;
}

li.vim:hover {
    background-color: #03A678;
}

li.wp:hover {
    background-color: #EB974E;
}

#parallax-window {
    background: transparent;
    margin-top: 0px;
    margin-bottom: -50px;
    padding-top: 7%;
    background-attachment: fixed;
    background-position: fixed;
    width: 100%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    display: inline-block;
}

@media screen and (max-width: 772px) {
    .backgroundiosfallback {
        /*background-image: url(http://joelps.com/masatoshi/assets/img/art__38.jpg);*/
        background-size: 300%;
        height: 100%;
        box-shadow: none;
    }
}


/*===============================================================
MEDIA QUERY DEVICE BREAKPOINTS
===============================================================*/


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #about {
        height: 280vw;
    }
    .language-picker {
        /*float: right;
    padding: 0;
    margin: 0 22%;*/
        display: none;
    }
}


/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    #about {
        height: 106vw;
    }
}


/*==================ADDED BY JOEL=======================*/

@media only screen and (min-width: 992px) {
    #about {
        height: 70vw;
    }
}

@media only screen and (min-width: 1223px) {
    #about {
        height: 115vw;
    }
}

@media only screen and (max-width: 1223px) {
    #about {
        height: 46vw;
    }
}

@media only screen and (max-width: 1150px) {
    #about {
        height: 60vw;
    }
}

@media only screen and (max-width: 992px) {
    #about {
        height: 90vw;
    }
}

@media only screen and (max-width: 955px) {
    #about {
        height: 105vw;
    }
}

@media only screen and (max-width: 830px) {
    #about {
        height: 130vw;
    }
}

@media only screen and (max-width: 750px) {
    #about {
        height: auto;
    }
}

@media only screen and (max-width: 705px) {
    #about {
        height: 160vh;
    }
}

@media only screen and (max-width: 630px) {
    #about {
        height: 180vh;
    }
}

@media only screen and (max-width: 605px) {
    #about {
        height: auto;
    }
}

@media only screen and (max-width: 533px) {
    #about {
        height: auto;
    }
}

@media only screen and (max-width: 520px) {
    #about {
        height: auto;
    }
}

@media only screen and (max-width: 490px) {
    #about {
        height: auto;
    }
}

@media only screen and (max-width: 460px) {
    #about {
        height: auto;
    }
}

@media only screen and (max-width: 450px) {
    #about {
        height: 225vh;
    }
}

@media only screen and (max-width: 420px) {
    #about {
        height: 520vw;
    }
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    #about {
        height: auto;
    }
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #about {
        height: auto;
        width: 100%;
        /* padding-bottom:2rem; */
    }
    li.dropdown {
        display: none;
    }
    .hello {
        margin-bottom: 10rem;
        margin-left: 6rem;
        text-align: center;
    }
    .hello h1 {
        margin: 20% auto 5% 1.25em;
    }
    .banana {
        overflow: hidden;
        height: 116vw;
        margin-top: -50px;
        position: relative;
        z-index: 0;
    }
    .bio {
        margin-left: 12rem;
    }
    .container {
        width: 100%;
    }
}


/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    #about {
        height: auto;
        width: 100%;
        /* padding-bottom:2rem; */
    }
    li.dropdown {
        display: none;
    }
    .banana {
        overflow: hidden;
        height: 86vw;
        margin-top: -50px;
        position: relative;
        z-index: 0;
    }
    .container {
        width: 100%;
    }
    .bio {
        margin-left: 0!important;
    }
}


/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #about {
        height: auto;
        width: 100%;
        padding-bottom: 2rem;
    }
    li.dropdown {
        display: none;
    }
}


/**********
iPad 3
**********/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    #about {
        height: auto;
        width: 100%;
        /* padding-bottom:2rem; */
    }
    li.dropdown {
        display: none;
    }
    .banana {
        overflow: hidden;
        height: 86vw;
        margin-top: -50px;
        position: relative;
        z-index: 0;
    }
    .container {
        width: 100%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    #about {
        height: auto;
        width: 100%;
        padding-bottom: 2rem;
    }
    li.dropdown {
        display: none;
    }
    .language-picker {
        float: right;
        padding: .5em 3em 0 0;
    }
    .flex-video iframe,
    .flex-video object,
    .flex-video embed {
        /* left: -70rem !important; */
    }
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    #about {
        height: auto;
    }
    li.dropdown {
        display: none;
    }
}


/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    #about {
        height: auto;
    }
    li.dropdown {
        display: none;
    }
}


/* iPhone 4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    #about {
        height: auto;
    }
    h1.hello {
        font-size: 3em;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    #about {
        height: auto;
    }
    h1.hello {
        font-size: 3em;
    }
    .copy {
        padding-top: 20px;
    }
    .credit {
        padding-top: 0;
    }
}


/* iPhone 5 ----------- */


/* ----------- iPhone 5 and 5S ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    #banana {
        height: 137vh;
    }
    #about {
        height: auto;
        width: 100%;
        padding: 0;
    }
    .flex-video iframe,
    .flex-video object,
    .flex-video embed {
        position: absolute;
        top: 36rem;
        left: -300px;
        width: 280%;
        height: 100%;
    }
    .flex-video.widescreen {
        padding-bottom: 272.25%;
    }
    h3.workcopy {
        width: 90%;
        margin: 1em auto;
        font-family: 'Roboto', sans-serif;
        line-height: 2em;
        font-size: 1.25em;
        text-align: center;
    }
    div#thumbcarousel1 {
        height: 73px;
        margin-top: -1em;
    }
    .carousel {
        margin-top: 6rem;
        height: 300px;
    }
    h1.hello {
        margin-left: 0;
        text-align: center;
    }
    div.social {
        height: 25rem;
    }
    div.social li {
        display: inline-block;
        margin: 0px 10px;
        height: 8rem;
        width: 100%;
        padding-top: 12px;
        font-size: 3em;
        /* color: rgba(255,255,255,0.7); */
        color: #d5d5d5;
        border-radius: 40px;
        text-align: center;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #fff;
    }
    .nav-wrapper {
        background-color: #fff;
    }
    ul.nav.navbar-nav.navfont {
        text-align: right;
    }
    .biotext h2 {
        font-size: 1.2em;
        font-weight: 900;
    }
    .biotext {
        font-size: 1em;
    }
    .hello {
        width: 100%;
    }
    .copy {
        padding-top: 20px;
    }
    .credit {
        padding-top: 0;
    }
}


/* iPhone 6 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    #about {
        height: 160vh;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    #banana {
        height: 130vh !important;
    }
    #about {
        height: auto;
        padding: 0;
    }
    .flex-video iframe,
    .flex-video object,
    .flex-video embed {
        position: absolute;
        top: 36rem;
        left: -300px;
        width: 280%;
        height: 100%;
    }
    .flex-video.widescreen {
        padding-bottom: 272.25%;
    }
    h3.workcopy {
        width: 90%;
        margin: 1em auto;
        font-family: 'Roboto', sans-serif;
        line-height: 2em;
        font-size: 1.25em;
        text-align: center;
    }
    div#thumbcarousel1 {
        height: 73px;
        margin-top: -1em;
    }
    .carousel {
        margin-top: 6rem;
        height: 300px;
    }
    h1.hello {
        margin-left: 0;
        text-align: center;
    }
    div.social {
        height: 25rem;
    }
    div.social li {
        display: inline-block;
        margin: 0px 10px;
        height: 8rem;
        width: 100%;
        padding-top: 12px;
        font-size: 3em;
        /* color: rgba(255,255,255,0.7); */
        color: #d5d5d5;
        border-radius: 40px;
        text-align: center;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #fff;
    }
    .nav-wrapper {
        background-color: #fff;
    }
    ul.nav.navbar-nav.navfont {
        text-align: right;
    }
    .copy {
        padding-top: 20px;
    }
    .credit {
        padding-top: 0;
    }
}


/* iPhone 6+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    #about {
        height: 160vh;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    #about {
        height: auto;
        padding: 0;
    }
    .banana {
        height: 115vh;
    }
    h3.workcopy {
        width: 90%;
        /*margin: 1em .25em;*/
        font-family: 'Roboto', sans-serif;
        line-height: 2em;
        font-size: 1.5em;
        text-align: center;
    }
    .flex-video iframe,
    .flex-video object,
    .flex-video embed {
        position: absolute;
        top: 35rem;
        left: -300px;
        width: 280%;
        height: 36% !important;
    }
    .flex-video.widescreen {
        padding-bottom: 272.25%;
    }
    div#thumbcarousel1 {
        height: 73px;
        margin-top: -1em;
    }
    .carousel {
        margin-top: 6rem;
        height: 300px;
    }
    div.social {
        height: 25rem;
    }
    div.social li {
        display: inline-block;
        margin: 0px 10px;
        height: 8rem;
        width: 100%;
        padding-top: 12px;
        font-size: 3em;
        /* color: rgba(255,255,255,0.7); */
        color: #d5d5d5;
        border-radius: 40px;
        text-align: center;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #fff;
    }
    .nav-wrapper {
        background-color: #fff;
    }
    ul.nav.navbar-nav.navfont {
        text-align: right;
    }
    h1.hello {
        font-family: 'Oleo Script Swash Caps', cursive;
        font-weight: 900;
        font-size: 3em;
        text-align: left;
        margin: 20% auto 5% 15%;
        color: #3F7FBF;
    }
    .copy {
        padding-top: 20px;
    }
    .credit {
        padding-top: 0;
    }
}


/* Samsung Galaxy S4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    #about {
        height: 280vw;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    #about {
        height: 280vw;
    }
}


/* Samsung Galaxy S5 ----------- */

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    #about {
        height: auto;
        padding: 0;
    }
    #banana {
        height: 125vh;
    }
    .flex-video iframe,
    .flex-video object,
    .flex-video embed {
        position: absolute;
        top: 12rem;
        left: -300px;
        width: 280%;
        height: 100%;
    }
    .flex-video.widescreen {
        padding-bottom: 272.25%;
    }
    h3.workcopy {
        width: 90%;
        margin: 1em auto;
        font-family: 'Roboto', sans-serif;
        line-height: 2em;
        font-size: 1.25em;
        text-align: center;
    }
    div#thumbcarousel1 {
        height: 73px;
        margin-top: -1em;
    }
    .carousel {
        margin-top: 6rem;
        height: 300px;
    }
    h1.hello {
        margin-left: 0;
        text-align: center;
    }
    div.social {
        height: 25rem;
    }
    div.social li {
        display: inline-block;
        margin: 0px 10px;
        height: 8rem;
        width: 100%;
        padding-top: 12px;
        font-size: 3em;
        /* color: rgba(255,255,255,0.7); */
        color: #d5d5d5;
        border-radius: 40px;
        text-align: center;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #fff;
    }
    .nav-wrapper {
        background-color: #fff;
    }
    ul.nav.navbar-nav.navfont {
        text-align: right;
    }
    .copy {
        padding-top: 20px;
    }
    .credit {
        padding-top: 0;
    }
}